html, body {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

.container-fluid {
  /* margin-top: 50px; */
}

.container {
  position: relative;
}

.d3-img {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  text-align: center;
}

.kadala-404 {
  position: absolute;
  top: 0;
  width: 250px;
}

.left-side {
  left: 0;
}

.right-side {
  right: 0;
}
